# This OpenAPI specification is auto-generated from TypeScript Schemas
# DO NOT EDIT THIS FILE MANUALLY

openapi: 3.0.0
info:
  title: Scope3 Agentic API
  version: 1.0.0
  description: >-
    Comprehensive API for the Scope3 Agentic Advertising Platform.

    This API provides tools for managing brand agents, campaigns, creatives, tactics, media buys, and more through
    natural language interfaces and structured endpoints.
servers:
  - url: https://api.agentic.scope3.com/mcp
    description: Production server
  - url: https://api.agentic.staging.scope3.com/mcp
    description: Staging server
paths:
  /mcp-initialize:
    post:
      operationId: mcp_initialize
      summary: Initialize MCP session
      description: >-
        Initialize a new MCP session. This must be called before using any tools. The session ID should be generated as
        a UUID and included in the mcp-session-id header for all subsequent requests.
      tags:
        - MCP
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: MCP session identifier (UUID). Generate a new UUID for session initialization.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - '2.0'
                id:
                  oneOf:
                    - type: string
                    - type: number
                method:
                  type: string
                  enum:
                    - initialize
                params:
                  type: object
                  properties:
                    protocolVersion:
                      type: string
                      example: '2024-11-05'
                    capabilities:
                      type: object
                    clientInfo:
                      type: object
                      properties:
                        name:
                          type: string
                        version:
                          type: string
                      required:
                        - name
                        - version
                  required:
                    - protocolVersion
                    - capabilities
                    - clientInfo
              required:
                - jsonrpc
                - id
                - method
                - params
      responses:
        '200':
          description: Session initialized successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                      - '2.0'
                  id:
                    oneOf:
                      - type: string
                      - type: number
                  result:
                    type: object
                    properties:
                      protocolVersion:
                        type: string
                      capabilities:
                        type: object
                      serverInfo:
                        type: object
                        properties:
                          name:
                            type: string
                          version:
                            type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /brand-agent-list:
    post:
      operationId: brand_agent_list
      summary: List brand agents
      description: >-
        List all brand agents (advertiser accounts) for the authenticated customer. Authentication is automatic - no
        parameters required.
      tags:
        - Brand Agents
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - brand_agent_list
                arguments:
                  $ref: '#/components/schemas/ListBrandAgentsInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/BrandAgentList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /brand-agent-get:
    post:
      operationId: brand_agent_get
      summary: Get brand agent
      description: Get detailed information about a specific brand agent (advertiser account) by ID.
      tags:
        - Brand Agents
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - brand_agent_get
                arguments:
                  $ref: '#/components/schemas/GetBrandAgentInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/BrandAgentUpdateOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /brand-agent-create:
    post:
      operationId: brand_agent_create
      summary: Create brand agent
      description: >-
        Create a new brand agent (advertiser account). This creates the top-level container that will own campaigns,
        creatives, audiences, standards, and measurement sources.
      tags:
        - Brand Agents
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - brand_agent_create
                arguments:
                  $ref: '#/components/schemas/CreateBrandAgentInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/BrandAgentUpdateOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /brand-agent-update:
    post:
      operationId: brand_agent_update
      summary: Update brand agent
      description: Update an existing brand agent with new information.
      tags:
        - Brand Agents
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - brand_agent_update
                arguments:
                  $ref: '#/components/schemas/UpdateBrandAgentInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/BrandAgentUpdateOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /brand-agent-delete:
    post:
      operationId: brand_agent_delete
      summary: Delete brand agent
      description: Delete a brand agent. This will also delete all associated campaigns, creatives, and other resources.
      tags:
        - Brand Agents
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - brand_agent_delete
                arguments:
                  $ref: '#/components/schemas/DeleteBrandAgentInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/BrandAgentDelete'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /campaign-list:
    post:
      operationId: campaign_list
      summary: List campaigns
      description: List all campaigns with optional filtering by brand agent.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - campaign_list
                arguments:
                  $ref: '#/components/schemas/ListCampaignsInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CampaignList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /campaign-create:
    post:
      operationId: campaign_create
      summary: Create campaign
      description: >-
        Create a new campaign with natural language prompt. The backend will parse the prompt to extract targeting,
        budget, and creative requirements.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - campaign_create
                arguments:
                  $ref: '#/components/schemas/CreateCampaignInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CampaignUpdateOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /campaign-get:
    post:
      operationId: campaign_get
      summary: Get campaign
      description: Get detailed information about a specific campaign.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - campaign_get
                arguments:
                  $ref: '#/components/schemas/GetCampaignInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CampaignUpdateOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /campaign-update:
    post:
      operationId: campaign_update
      summary: Update campaign
      description: Update an existing campaign with new information.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - campaign_update
                arguments:
                  $ref: '#/components/schemas/UpdateCampaignInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CampaignUpdateOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /campaign-delete:
    post:
      operationId: campaign_delete
      summary: Delete campaign
      description: Delete a campaign and all associated resources.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - campaign_delete
                arguments:
                  $ref: '#/components/schemas/DeleteCampaignInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CampaignDelete'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /campaign-get-summary:
    post:
      operationId: campaign_get_summary
      summary: Get campaign summary
      description: Get a high-level summary of a campaign including key metrics and status.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - campaign_get_summary
                arguments:
                  $ref: '#/components/schemas/GetCampaignSummaryInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CampaignGetSummary'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /campaign-list-tactics:
    post:
      operationId: campaign_list_tactics
      summary: List campaign tactics
      description: List all tactics associated with a specific campaign.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - campaign_list_tactics
                arguments:
                  $ref: '#/components/schemas/ListCampaignTacticsInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CampaignListTactics'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /campaign-validate-brief:
    post:
      operationId: campaign_validate_brief
      summary: Validate campaign brief
      description: Validate a campaign brief to ensure it contains all necessary information for campaign creation.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - campaign_validate_brief
                arguments:
                  $ref: '#/components/schemas/ValidateBriefInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CampaignValidateBrief'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /asset-list:
    post:
      operationId: asset_list
      summary: List assets
      description: List all uploaded assets with optional filtering by brand agent.
      tags:
        - Assets
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - asset_list
                arguments:
                  $ref: '#/components/schemas/ListAssetsInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/AssetList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /brand-standards-create:
    post:
      operationId: brand_standards_create
      summary: Create brand standards
      description: >-
        Create brand standards including guidelines, tone of voice, visual requirements, and content rules for a brand
        agent.
      tags:
        - Brand Standards
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - brand_standards_create
                arguments:
                  $ref: '#/components/schemas/CreateBrandStandardInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/BrandStandardsCreateOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /brand-standards-delete:
    post:
      operationId: brand_standards_delete
      summary: Delete brand standards
      description: Delete brand standards for a brand agent.
      tags:
        - Brand Standards
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - brand_standards_delete
                arguments:
                  $ref: '#/components/schemas/DeleteBrandStandardInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/BrandStandardsDelete'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /brand-standards-list:
    post:
      operationId: brand_standards_list
      summary: List brand standards
      description: List all brand standards with optional filtering by brand agent.
      tags:
        - Brand Standards
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - brand_standards_list
                arguments:
                  $ref: '#/components/schemas/ListBrandStandardsInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/BrandStandardsList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /brand-story-create:
    post:
      operationId: brand_story_create
      summary: Create brand story
      description: Create a brand story containing the narrative, history, values, and key messaging for a brand agent.
      tags:
        - Brand Stories
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - brand_story_create
                arguments:
                  $ref: '#/components/schemas/CreateBrandStoryInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/BrandStoryCreate'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /brand-story-update:
    post:
      operationId: brand_story_update
      summary: Update brand story
      description: Update an existing brand story with new information.
      tags:
        - Brand Stories
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - brand_story_update
                arguments:
                  $ref: '#/components/schemas/UpdateBrandStoryInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/BrandStoryUpdate'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /brand-story-delete:
    post:
      operationId: brand_story_delete
      summary: Delete brand story
      description: Delete a brand story.
      tags:
        - Brand Stories
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - brand_story_delete
                arguments:
                  $ref: '#/components/schemas/DeleteBrandStoryInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/BrandStoryDelete'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /brand-story-list:
    post:
      operationId: brand_story_list
      summary: List brand stories
      description: List all brand stories with optional filtering by brand agent.
      tags:
        - Brand Stories
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - brand_story_list
                arguments:
                  $ref: '#/components/schemas/ListBrandStoriesInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/BrandStoryList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /channel-list:
    post:
      operationId: channel_list
      summary: List channels
      description: List all available advertising channels and platforms.
      tags:
        - Channels
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - channel_list
                arguments:
                  $ref: '#/components/schemas/ListChannelsInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/ChannelList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /creative-assign:
    post:
      operationId: creative_assign
      summary: Assign creative
      description: Assign a creative to a tactic or media buy.
      tags:
        - Creatives
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - creative_assign
                arguments:
                  $ref: '#/components/schemas/AssignCreativeInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CreativeAssign'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /creative-create:
    post:
      operationId: creative_create
      summary: Create creative
      description: Create a new creative with assets, copy, and targeting specifications.
      tags:
        - Creatives
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - creative_create
                arguments:
                  $ref: '#/components/schemas/CreateCreativeInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CreativeGetOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /creative-update:
    post:
      operationId: creative_update
      summary: Update creative
      description: Update an existing creative with new assets, copy, or specifications.
      tags:
        - Creatives
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - creative_update
                arguments:
                  $ref: '#/components/schemas/UpdateCreativeInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CreativeGetOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /creative-delete:
    post:
      operationId: creative_delete
      summary: Delete creative
      description: Delete a creative and remove it from any associated tactics or media buys.
      tags:
        - Creatives
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - creative_delete
                arguments:
                  $ref: '#/components/schemas/DeleteCreativeInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CreativeDelete'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /creative-get:
    post:
      operationId: creative_get
      summary: Get creative
      description: Get detailed information about a specific creative.
      tags:
        - Creatives
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - creative_get
                arguments:
                  $ref: '#/components/schemas/GetCreativeInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CreativeGetOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /creative-list:
    post:
      operationId: creative_list
      summary: List creatives
      description: List all creatives with optional filtering by brand agent or campaign.
      tags:
        - Creatives
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - creative_list
                arguments:
                  $ref: '#/components/schemas/ListCreativesInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CreativeList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /creative-sync-sales-agents:
    post:
      operationId: creative_sync_sales_agents
      summary: Sync creatives to sales agents
      description: Synchronize creatives to connected sales agents (DSPs, publisher platforms).
      tags:
        - Creatives
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - creative_sync_sales_agents
                arguments:
                  $ref: '#/components/schemas/SyncSalesAgentsInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CreativeSyncSalesAgents'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /media-buy-create:
    post:
      operationId: media_buy_create
      summary: Create media buy
      description: Create a new media buy with budget, targeting, and creative specifications.
      tags:
        - Media Buys
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - media_buy_create
                arguments:
                  $ref: '#/components/schemas/CreateMediaBuyInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/MediaBuyGetOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /media-buy-update:
    post:
      operationId: media_buy_update
      summary: Update media buy
      description: Update an existing media buy with new budget, targeting, or creative assignments.
      tags:
        - Media Buys
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - media_buy_update
                arguments:
                  $ref: '#/components/schemas/UpdateMediaBuyInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/MediaBuyGetOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /media-buy-delete:
    post:
      operationId: media_buy_delete
      summary: Delete media buy
      description: Delete a media buy and cancel any active placements.
      tags:
        - Media Buys
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - media_buy_delete
                arguments:
                  $ref: '#/components/schemas/DeleteMediaBuyInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/MediaBuyDelete'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /media-buy-execute:
    post:
      operationId: media_buy_execute
      summary: Execute media buy
      description: Execute a media buy, sending it to the configured sales agents for placement.
      tags:
        - Media Buys
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - media_buy_execute
                arguments:
                  $ref: '#/components/schemas/ExecuteMediaBuyInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/MediaBuyExecute'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /media-buy-get:
    post:
      operationId: media_buy_get
      summary: Get media buy
      description: Get detailed information about a specific media buy.
      tags:
        - Media Buys
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - media_buy_get
                arguments:
                  $ref: '#/components/schemas/GetMediaBuyInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/MediaBuyGetOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /media-buy-list:
    post:
      operationId: media_buy_list
      summary: List media buys
      description: List all media buys with optional filtering by brand agent, campaign, or status.
      tags:
        - Media Buys
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - media_buy_list
                arguments:
                  $ref: '#/components/schemas/ListMediaBuysInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/MediaBuyList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /media-buy-validate-budget:
    post:
      operationId: media_buy_validate_budget
      summary: Validate media buy budget
      description: Validate a media buy budget against campaign constraints and available funds.
      tags:
        - Media Buys
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - media_buy_validate_budget
                arguments:
                  $ref: '#/components/schemas/ValidateMediaBuyBudgetInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/MediaBuyValidateBudget'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /notifications-list:
    post:
      operationId: notifications_list
      summary: List notifications
      description: List notifications for the authenticated user with optional filtering by status.
      tags:
        - Notifications
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - notifications_list
                arguments:
                  $ref: '#/components/schemas/ListNotificationsInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/NotificationsList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /notifications-mark-read:
    post:
      operationId: notifications_mark_read
      summary: Mark notification as read
      description: Mark a specific notification as read.
      tags:
        - Notifications
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - notifications_mark_read
                arguments:
                  $ref: '#/components/schemas/MarkNotificationReadInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/NotificationsMarkRead'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /notifications-mark-acknowledged:
    post:
      operationId: notifications_mark_acknowledged
      summary: Mark notification as acknowledged
      description: Mark a specific notification as acknowledged.
      tags:
        - Notifications
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - notifications_mark_acknowledged
                arguments:
                  $ref: '#/components/schemas/MarkNotificationAcknowledgedInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/NotificationsMarkAcknowledged'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /notifications-mark-all-read:
    post:
      operationId: notifications_mark_all_read
      summary: Mark all notifications as read
      description: Mark all notifications for the authenticated user as read.
      tags:
        - Notifications
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - notifications_mark_all_read
                arguments:
                  $ref: '#/components/schemas/MarkAllNotificationsReadInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/NotificationsMarkAllRead'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /media-product-discover:
    post:
      operationId: media_product_discover
      summary: Discover media products
      description: Discover available media products from connected sales agents based on targeting criteria.
      tags:
        - Media Products
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - media_product_discover
                arguments:
                  $ref: '#/components/schemas/DiscoverProductsInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/MediaProductDiscover'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /media-product-save:
    post:
      operationId: media_product_save
      summary: Save media product
      description: Save a discovered media product for future use in media buys.
      tags:
        - Media Products
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - media_product_save
                arguments:
                  $ref: '#/components/schemas/SaveProductInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/MediaProductSave'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /media-product-list:
    post:
      operationId: media_product_list
      summary: List media products
      description: List saved media products with optional filtering.
      tags:
        - Media Products
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - media_product_list
                arguments:
                  $ref: '#/components/schemas/ListProductsInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
[...]
