# This OpenAPI specification is auto-generated from TypeScript Schemas
# DO NOT EDIT THIS FILE MANUALLY
# API Type: PARTNER

openapi: 3.0.0
info:
  title: Scope3 Partner API
  version: 1.0.0
  description: |-
    API for partners to register agents, manage tactics and media buys, and configure webhooks.

    This API provides partners with tools to:
    - Register and manage sales agents (DSPs, publisher platforms)
    - Full CRUD operations for tactics and media buys
    - Link tactics to buyer campaigns (read-only campaign access)
    - Manage media products and product discovery
    - Configure webhooks for event notifications
    - Execute media buys and manage placements
servers:
  - url: https://api.agentic.scope3.com/mcp
    description: Production server
  - url: https://api.agentic.staging.scope3.com/mcp
    description: Staging server
paths:
  /mcp-initialize:
    post:
      operationId: mcp_initialize
      summary: Initialize MCP session
      description: >-
        Initialize a new MCP session. This must be called before using any tools. The session ID should be generated as
        a UUID and included in the mcp-session-id header for all subsequent requests.
      tags:
        - MCP
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: MCP session identifier (UUID). Generate a new UUID for session initialization.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - '2.0'
                id:
                  oneOf:
                    - type: string
                    - type: number
                method:
                  type: string
                  enum:
                    - initialize
                params:
                  type: object
                  properties:
                    protocolVersion:
                      type: string
                      example: '2024-11-05'
                    capabilities:
                      type: object
                    clientInfo:
                      type: object
                      properties:
                        name:
                          type: string
                        version:
                          type: string
                      required:
                        - name
                        - version
                  required:
                    - protocolVersion
                    - capabilities
                    - clientInfo
              required:
                - jsonrpc
                - id
                - method
                - params
      responses:
        '200':
          description: Session initialized successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                      - '2.0'
                  id:
                    oneOf:
                      - type: string
                      - type: number
                  result:
                    type: object
                    properties:
                      protocolVersion:
                        type: string
                      capabilities:
                        type: object
                      serverInfo:
                        type: object
                        properties:
                          name:
                            type: string
                          version:
                            type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /channel-list:
    post:
      operationId: channel_list
      summary: List channels
      description: List all available advertising channels and platforms.
      tags:
        - Channels
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for channel_list
        required: true
        content:
          application/json:
            example:
              tool: channel_list
              arguments: {}
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - channel_list
                arguments:
                  $ref: '#/components/schemas/ListChannelsInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/ChannelList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /country-list:
    post:
      operationId: country_list
      summary: List countries
      description: Get all available countries for targeting. Use this to get valid country codes before creating brand agents.
      tags:
        - Targeting
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for country_list
        required: true
        content:
          application/json:
            example:
              tool: country_list
              arguments: {}
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - country_list
                arguments:
                  $ref: '#/components/schemas/ListCountriesInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CountryList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /language-list:
    post:
      operationId: language_list
      summary: List languages
      description: Get all available languages for targeting. Use this to get valid language codes before creating brand stories.
      tags:
        - Targeting
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for language_list
        required: true
        content:
          application/json:
            example:
              tool: language_list
              arguments: {}
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - language_list
                arguments:
                  $ref: '#/components/schemas/ListLanguagesInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/LanguageList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /creative-sync-sales-agents:
    post:
      operationId: creative_sync_sales_agents
      summary: Sync creatives to sales agents
      description: Synchronize creatives to connected sales agents (DSPs, publisher platforms).
      tags:
        - Creatives
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for creative_sync_sales_agents
        required: true
        content:
          application/json:
            example:
              tool: creative_sync_sales_agents
              arguments:
                creativeId: example_id_123
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - creative_sync_sales_agents
                arguments:
                  $ref: '#/components/schemas/SyncSalesAgentsInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CreativeSyncSalesAgents'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /media-buy-create:
    post:
      operationId: media_buy_create
      summary: Create media buy
      description: Create a new media buy with budget, targeting, and creative specifications.
      tags:
        - Media Buys
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for media_buy_create
        required: true
        content:
          application/json:
            example:
              tool: media_buy_create
              arguments:
                tacticId: 100
                agentId: example_id_123
                name: Example Name
                products: []
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - media_buy_create
                arguments:
                  $ref: '#/components/schemas/CreateMediaBuyInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/MediaBuyGetOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /media-buy-update:
    post:
      operationId: media_buy_update
      summary: Update media buy
      description: Update an existing media buy with new budget, targeting, or creative assignments.
      tags:
        - Media Buys
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for media_buy_update
        required: true
        content:
          application/json:
            example:
              tool: media_buy_update
              arguments:
                mediaBuyId: example_id_123
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - media_buy_update
                arguments:
                  $ref: '#/components/schemas/UpdateMediaBuyInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/MediaBuyGetOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /media-buy-delete:
    post:
      operationId: media_buy_delete
      summary: Delete media buy
      description: Delete a media buy and cancel any active placements.
      tags:
        - Media Buys
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for media_buy_delete
        required: true
        content:
          application/json:
            example:
              tool: media_buy_delete
              arguments:
                mediaBuyId: example_id_123
                confirm: true
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - media_buy_delete
                arguments:
                  $ref: '#/components/schemas/DeleteMediaBuyInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/MediaBuyDelete'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /media-buy-execute:
    post:
      operationId: media_buy_execute
      summary: Execute media buy
      description: Execute a media buy, sending it to the configured sales agents for placement.
      tags:
        - Media Buys
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for media_buy_execute
        required: true
        content:
          application/json:
            example:
              tool: media_buy_execute
              arguments:
                mediaBuyId: example_id_123
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - media_buy_execute
                arguments:
                  $ref: '#/components/schemas/ExecuteMediaBuyInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/MediaBuyExecute'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /media-buy-get:
    post:
      operationId: media_buy_get
      summary: Get media buy
      description: Get detailed information about a specific media buy.
      tags:
        - Media Buys
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for media_buy_get
        required: true
        content:
          application/json:
            example:
              tool: media_buy_get
              arguments:
                mediaBuyId: example_id_123
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - media_buy_get
                arguments:
                  $ref: '#/components/schemas/GetMediaBuyInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/MediaBuyGetOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /media-buy-list:
    post:
      operationId: media_buy_list
      summary: List media buys
      description: List all media buys with optional filtering by brand agent, campaign, or status.
      tags:
        - Media Buys
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for media_buy_list
        required: true
        content:
          application/json:
            example:
              tool: media_buy_list
              arguments: {}
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - media_buy_list
                arguments:
                  $ref: '#/components/schemas/ListMediaBuysInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/MediaBuyList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /media-buy-validate-budget:
    post:
      operationId: media_buy_validate_budget
      summary: Validate media buy budget
      description: Validate a media buy budget against campaign constraints and available funds.
      tags:
        - Media Buys
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for media_buy_validate_budget
        required: true
        content:
          application/json:
            example:
              tool: media_buy_validate_budget
              arguments:
                tacticId: 100
                newBudgetAmount: 100
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - media_buy_validate_budget
                arguments:
                  $ref: '#/components/schemas/ValidateMediaBuyBudgetInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/MediaBuyValidateBudget'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /notifications-list:
    post:
      operationId: notifications_list
      summary: List notifications
      description: List notifications for the authenticated user with optional filtering by status.
      tags:
        - Notifications
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for notifications_list
        required: true
        content:
          application/json:
            example:
              tool: notifications_list
              arguments: {}
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - notifications_list
                arguments:
                  $ref: '#/components/schemas/ListNotificationsInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/NotificationsList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /notifications-mark-read:
    post:
      operationId: notifications_mark_read
      summary: Mark notification as read
      description: Mark a specific notification as read.
      tags:
        - Notifications
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for notifications_mark_read
        required: true
        content:
          application/json:
            example:
              tool: notifications_mark_read
              arguments:
                notificationId: example_id_123
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - notifications_mark_read
                arguments:
                  $ref: '#/components/schemas/MarkNotificationReadInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/NotificationsMarkRead'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /notifications-mark-acknowledged:
    post:
      operationId: notifications_mark_acknowledged
      summary: Mark notification as acknowledged
      description: Mark a specific notification as acknowledged.
      tags:
        - Notifications
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for notifications_mark_acknowledged
        required: true
        content:
          application/json:
            example:
              tool: notifications_mark_acknowledged
              arguments:
                notificationId: example_id_123
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - notifications_mark_acknowledged
                arguments:
                  $ref: '#/components/schemas/MarkNotificationAcknowledgedInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/NotificationsMarkAcknowledged'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /notifications-mark-all-read:
    post:
      operationId: notifications_mark_all_read
      summary: Mark all notifications as read
      description: Mark all notifications for the authenticated user as read.
      tags:
        - Notifications
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for notifications_mark_all_read
        required: true
        content:
          application/json:
            example:
              tool: notifications_mark_all_read
              arguments: {}
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - notifications_mark_all_read
                arguments:
                  $ref: '#/components/schemas/MarkAllNotificationsReadInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/NotificationsMarkAllRead'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /media-product-discover:
    post:
      operationId: media_product_discover
      summary: Discover media products
      description: Discover available media products from connected sales agents based on targeting criteria.
      tags:
        - Media Products
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for media_product_discover
        required: true
        content:
          application/json:
            example:
              tool: media_product_discover
              arguments:
                brief: string
                brandManifestUrl: https://example.com
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - media_product_discover
                arguments:
                  $ref: '#/components/schemas/DiscoverProductsInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/MediaProductDiscover'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /media-product-save:
    post:
      operationId: media_product_save
      summary: Save media product
      description: Save a discovered media product for future use in media buys.
      tags:
        - Media Products
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for media_product_save
        required: true
        content:
          application/json:
            example:
              tool: media_product_save
              arguments:
                productId: example_id_123
                name: Example Name
                description: string
                publisherId: example_id_123
                publisherName: Example Name
                deliveryType: guaranteed
                inventoryType: premium
                pricingModel: auction
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - media_product_save
                arguments:
                  $ref: '#/components/schemas/SaveProductInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/MediaProductSave'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /media-product-list:
    post:
      operationId: media_product_list
      summary: List media products
      description: List saved media products with optional filtering.
      tags:
        - Media Products
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for media_product_list
        required: true
        content:
          application/json:
            example:
              tool: media_product_list
              arguments: {}
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - media_product_list
                arguments:
                  $ref: '#/components/schemas/ListProductsInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/MediaProductList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /media-product-sync:
    post:
      operationId: media_product_sync
      summary: Sync media products
      description: Synchronize media product catalog from connected sales agents.
      tags:
        - Media Products
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for media_product_sync
        required: true
        content:
          application/json:
            example:
              tool: media_product_sync
              arguments:
                sourceId: example_id_123
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - media_product_sync
                arguments:
                  $ref: '#/components/schemas/SyncProductsInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/MediaProductSync'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /agent-get:
    post:
      operationId: agent_get
      summary: Get agent
      description: >-
        Get detailed information about a specific agent (SALES or OUTCOME type). Type is automatically inferred from the
        agent ID.
      tags:
        - Agents
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for agent_get
        required: true
        content:
          application/json:
            example:
              tool: agent_get
              arguments:
                agentId: example_id_123
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - agent_get
                arguments:
                  $ref: '#/components/schemas/GetAgentInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/AgentGet'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /agent-list:
    post:
      operationId: agent_list
      summary: List agents
      description: >-
        List all registered agents with comprehensive filtering. Supports filtering by type (SALES/OUTCOME), status,
        organization, relationship (SELF/SCOPE3/MARKETPLACE), and name.
      tags:
        - Agents
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for agent_list
        required: true
        content:
          application/json:
            example:
              tool: agent_list
              arguments: {}
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - agent_list
                arguments:
                  $ref: '#/components/schemas/ListAgentsInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/AgentList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /agent-register:
    post:
      operationId: agent_register
      summary: Register agent
      description: Register a new agent for media buying (SALES type) or outcome optimization (OUTCOME type).
      tags:
        - Agents
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for agent_register
        required: true
        content:
          application/json:
            example:
              tool: agent_register
              arguments:
                type: SALES
                name: Example Name
                endpointUrl: https://example.com
                protocol: MCP
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - agent_register
                arguments:
                  $ref: '#/components/schemas/RegisterAgentInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/AgentRegister'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /agent-unregister:
    post:
      operationId: agent_unregister
      summary: Unregister agent
      description: Unregister an agent and disconnect it from the platform. Type is automatically inferred from the agent ID.
      tags:
        - Agents
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for agent_unregister
        required: true
        content:
          application/json:
            example:
              tool: agent_unregister
              arguments:
                agentId: example_id_123
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - agent_unregister
                arguments:
                  $ref: '#/components/schemas/UnregisterAgentInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/AgentUnregister'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /agent-update:
    post:
      operationId: agent_update
      summary: Update agent
      description: Update agent configuration and credentials. Type is automatically inferred from the agent ID.
      tags:
        - Agents
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for agent_update
        required: true
        content:
          application/json:
            example:
              tool: agent_update
              arguments:
                agentId: example_id_123
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - agent_update
                arguments:
                  $ref: '#/components/schemas/UpdateAgentInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/AgentUpdate'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /tactic-create:
    post:
      operationId: tactic_create
      summary: Create tactic
      description: Create a new tactic defining how to achieve campaign objectives.
      tags:
        - Tactics
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for tactic_create
        required: true
        content:
          application/json:
            example:
              tool: tactic_create
              arguments:
                campaignId: example_id_123
                name: Example Name
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - tactic_create
                arguments:
                  $ref: '#/components/schemas/CreateTacticInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/TacticCreate'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /tactic-update:
    post:
      operationId: tactic_update
      summary: Update tactic
      description: Update an existing tactic with new targeting, budget, or creative requirements.
      tags:
        - Tactics
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for tactic_update
        required: true
        content:
          application/json:
            example:
              tool: tactic_update
              arguments:
                tacticId: 100
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - tactic_update
                arguments:
                  $ref: '#/components/schemas/UpdateTacticInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/TacticGetOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /tactic-delete:
    post:
      operationId: tactic_delete
      summary: Delete tactic
      description: Delete a tactic and all associated media buys.
      tags:
        - Tactics
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for tactic_delete
        required: true
        content:
          application/json:
            example:
              tool: tactic_delete
              arguments:
                tacticId: 100
                confirm: true
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - tactic_delete
                arguments:
                  $ref: '#/components/schemas/DeleteTacticInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/TacticDelete'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /tactic-get:
    post:
      operationId: tactic_get
      summary: Get tactic
      description: Get detailed information about a specific tactic.
      tags:
        - Tactics
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for tactic_get
        required: true
        content:
          application/json:
            example:
              tool: tactic_get
              arguments:
                tacticId: 100
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - tactic_get
                arguments:
                  $ref: '#/components/schemas/GetTacticInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/TacticGetOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /tactic-list:
    post:
      operationId: tactic_list
      summary: List tactics
      description: List all tactics with optional filtering by brand agent or campaign.
      tags:
        - Tactics
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for tactic_list
        required: true
        content:
          application/json:
            example:
              tool: tactic_list
              arguments: {}
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - tactic_list
                arguments:
                  $ref: '#/components/schemas/ListTacticsInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/TacticList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /tactic-link-campaign:
    post:
      operationId: tactic_link_campaign
      summary: Link tactic to campaign
      description: Link a tactic to a campaign.
      tags:
        - Tactics
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for tactic_link_campaign
        required: true
        content:
          application/json:
            example:
              tool: tactic_link_campaign
              arguments:
                tacticId: 100
                campaignId: example_id_123
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - tactic_link_campaign
                arguments:
                  $ref: '#/components/schemas/LinkCampaignToTacticInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/TacticLinkCampaign'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /tactic-unlink-campaign:
    post:
      operationId: tactic_unlink_campaign
      summary: Unlink tactic from campaign
      description: Unlink a tactic from a campaign.
      tags:
        - Tactics
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for tactic_unlink_campaign
        required: true
        content:
          application/json:
            example:
              tool: tactic_unlink_campaign
              arguments:
                tacticId: 100
                campaignId: example_id_123
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - tactic_unlink_campaign
                arguments:
                  $ref: '#/components/schemas/UnlinkCampaignFromTacticInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/TacticUnlinkCampaign'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /webhook-register:
    post:
      operationId: webhook_register
      summary: Register webhook
      description: Register a webhook to receive real-time notifications about events.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for webhook_register
        required: true
        content:
          application/json:
            example:
              tool: webhook_register
              arguments:
                endpoint:
                  url: https://example.com
                  method: POST
                eventTypes: []
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - webhook_register
                arguments:
                  $ref: '#/components/schemas/RegisterWebhookInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/WebhookRegister'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /webhook-list:
    post:
      operationId: webhook_list
      summary: List webhooks
      description: List all registered webhooks.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for webhook_list
        required: true
        content:
          application/json:
            example:
              tool: webhook_list
              arguments: {}
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - webhook_list
                arguments:
                  $ref: '#/components/schemas/ListWebhooksInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/WebhookList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /webhook-delete:
    post:
      operationId: webhook_delete
      summary: Delete webhook
      description: Delete a registered webhook.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for webhook_delete
        required: true
        content:
          application/json:
            example:
              tool: webhook_delete
              arguments:
                webhookId: example_id_123
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - webhook_delete
                arguments:
                  $ref: '#/components/schemas/DeleteWebhookInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/WebhookDelete'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /service-token-create:
    post:
      operationId: service_token_create
      summary: Create service token
      description: >-
        Create a new service token for API authentication. Returns the full token which should be stored securely as it
        cannot be retrieved later.
      tags:
        - Service Tokens
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for service_token_create
        required: true
        content:
          application/json:
            example:
              tool: service_token_create
              arguments:
                name: Example Name
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - service_token_create
                arguments:
                  $ref: '#/components/schemas/CreateServiceTokenInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CreateServiceTokenOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /service-token-list:
    post:
      operationId: service_token_list
      summary: List service tokens
      description: List all service tokens for the authenticated customer. Secrets are never returned, only metadata.
      tags:
        - Service Tokens
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for service_token_list
        required: true
        content:
          application/json:
            example:
              tool: service_token_list
              arguments: {}
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - service_token_list
                arguments:
                  $ref: '#/components/schemas/ListServiceTokensInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/ListServiceTokensOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /service-token-get:
    post:
      operationId: service_token_get
      summary: Get service token
      description: Get detailed information about a specific service token. The secret is never returned.
      tags:
        - Service Tokens
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for service_token_get
        required: true
        content:
          application/json:
            example:
              tool: service_token_get
              arguments:
                id: '1234567890'
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - service_token_get
                arguments:
                  $ref: '#/components/schemas/GetServiceTokenInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/GetServiceTokenOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /service-token-update:
    post:
      operationId: service_token_update
      summary: Update service token
      description: Update a service token. Only name, description, and expiration can be modified.
      tags:
        - Service Tokens
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for service_token_update
        required: true
        content:
          application/json:
            example:
              tool: service_token_update
              arguments:
                id: '1234567890'
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - service_token_update
                arguments:
                  $ref: '#/components/schemas/UpdateServiceTokenInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/UpdateServiceTokenOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /service-token-archive:
    post:
      operationId: service_token_archive
      summary: Archive service token
      description: Archive (soft delete) a service token. This immediately invalidates the token for authentication.
      tags:
        - Service Tokens
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for service_token_archive
        required: true
        content:
          application/json:
            example:
              tool: service_token_archive
              arguments:
                id: '1234567890'
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - service_token_archive
                arguments:
                  $ref: '#/components/schemas/ArchiveServiceTokenInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/ArchiveServiceTokenOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /customer-get:
    post:
      operationId: customer_get
      summary: Get customer info
      description: Get detailed information about a customer from the core database.
      tags:
        - Customers
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
[...]
