# This OpenAPI specification is auto-generated from TypeScript Schemas
# DO NOT EDIT THIS FILE MANUALLY
# API Type: BUYER

openapi: 3.0.0
info:
  title: Scope3 Platform API
  version: 1.0.0
  description: |-
    API for brand advertisers to manage brand agents, campaigns, creatives, and discover marketplace offerings.

    This API provides buyers with tools to:
    - Manage brand agents and campaign briefs
    - Create and manage creatives
    - Discover and save media products from the marketplace
    - View campaigns, tactics, and media buys (read-only)
    - Configure brand standards and brand stories
servers:
  - url: https://api.agentic.scope3.com/mcp
    description: Production server
  - url: https://api.agentic.staging.scope3.com/mcp
    description: Staging server
paths:
  /mcp-initialize:
    post:
      operationId: mcp_initialize
      summary: Initialize MCP session
      description: >-
        Initialize a new MCP session. This must be called before using any tools. The session ID should be generated as
        a UUID and included in the mcp-session-id header for all subsequent requests.
      tags:
        - MCP
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: MCP session identifier (UUID). Generate a new UUID for session initialization.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - '2.0'
                id:
                  oneOf:
                    - type: string
                    - type: number
                method:
                  type: string
                  enum:
                    - initialize
                params:
                  type: object
                  properties:
                    protocolVersion:
                      type: string
                      example: '2024-11-05'
                    capabilities:
                      type: object
                    clientInfo:
                      type: object
                      properties:
                        name:
                          type: string
                        version:
                          type: string
                      required:
                        - name
                        - version
                  required:
                    - protocolVersion
                    - capabilities
                    - clientInfo
              required:
                - jsonrpc
                - id
                - method
                - params
      responses:
        '200':
          description: Session initialized successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                      - '2.0'
                  id:
                    oneOf:
                      - type: string
                      - type: number
                  result:
                    type: object
                    properties:
                      protocolVersion:
                        type: string
                      capabilities:
                        type: object
                      serverInfo:
                        type: object
                        properties:
                          name:
                            type: string
                          version:
                            type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /brand-agent-list:
    post:
      operationId: brand_agent_list
      summary: List brand agents
      description: >-
        List all brand agents (advertiser accounts) for the authenticated customer. Authentication is automatic - no
        parameters required.
      tags:
        - Brand Agents
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for brand_agent_list
        required: true
        content:
          application/json:
            example:
              tool: brand_agent_list
              arguments: {}
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - brand_agent_list
                arguments:
                  $ref: '#/components/schemas/ListBrandAgentsInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/BrandAgentList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /brand-agent-get:
    post:
      operationId: brand_agent_get
      summary: Get brand agent
      description: Get detailed information about a specific brand agent (advertiser account) by ID.
      tags:
        - Brand Agents
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for brand_agent_get
        required: true
        content:
          application/json:
            example:
              tool: brand_agent_get
              arguments:
                brandAgentId: 100
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - brand_agent_get
                arguments:
                  $ref: '#/components/schemas/GetBrandAgentInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/BrandAgentUpdateOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /brand-agent-create:
    post:
      operationId: brand_agent_create
      summary: Create brand agent
      description: >-
        Create a new brand agent (advertiser account). This creates the top-level container that will own campaigns,
        creatives, audiences, standards, and measurement sources.
      tags:
        - Brand Agents
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for brand_agent_create
        required: true
        content:
          application/json:
            example:
              tool: brand_agent_create
              arguments:
                name: Example Name
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - brand_agent_create
                arguments:
                  $ref: '#/components/schemas/CreateBrandAgentInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/BrandAgentUpdateOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /brand-agent-update:
    post:
      operationId: brand_agent_update
      summary: Update brand agent
      description: Update an existing brand agent with new information.
      tags:
        - Brand Agents
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for brand_agent_update
        required: true
        content:
          application/json:
            example:
              tool: brand_agent_update
              arguments:
                brandAgentId: 100
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - brand_agent_update
                arguments:
                  $ref: '#/components/schemas/UpdateBrandAgentInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/BrandAgentUpdateOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /brand-agent-delete:
    post:
      operationId: brand_agent_delete
      summary: Delete brand agent
      description: Delete a brand agent. This will also delete all associated campaigns, creatives, and other resources.
      tags:
        - Brand Agents
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for brand_agent_delete
        required: true
        content:
          application/json:
            example:
              tool: brand_agent_delete
              arguments:
                brandAgentId: 100
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - brand_agent_delete
                arguments:
                  $ref: '#/components/schemas/DeleteBrandAgentInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/BrandAgentDelete'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /campaign-list:
    post:
      operationId: campaign_list
      summary: List campaigns
      description: List all campaigns with optional filtering by brand agent.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for campaign_list
        required: true
        content:
          application/json:
            example:
              tool: campaign_list
              arguments: {}
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - campaign_list
                arguments:
                  $ref: '#/components/schemas/ListCampaignsInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CampaignList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /campaign-create:
    post:
      operationId: campaign_create
      summary: Create campaign
      description: >-
        Create a new campaign with natural language prompt. The backend will parse the prompt to extract targeting,
        budget, and creative requirements.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for campaign_create
        required: true
        content:
          application/json:
            example:
              tool: campaign_create
              arguments:
                brandAgentId: 100
                prompt: string
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - campaign_create
                arguments:
                  $ref: '#/components/schemas/CreateCampaignInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CampaignUpdateOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /campaign-get:
    post:
      operationId: campaign_get
      summary: Get campaign
      description: Get detailed information about a specific campaign.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for campaign_get
        required: true
        content:
          application/json:
            example:
              tool: campaign_get
              arguments:
                campaignId: example_id_123
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - campaign_get
                arguments:
                  $ref: '#/components/schemas/GetCampaignInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CampaignUpdateOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /campaign-update:
    post:
      operationId: campaign_update
      summary: Update campaign
      description: Update an existing campaign with new information.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for campaign_update
        required: true
        content:
          application/json:
            example:
              tool: campaign_update
              arguments:
                campaignId: example_id_123
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - campaign_update
                arguments:
                  $ref: '#/components/schemas/UpdateCampaignInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CampaignUpdateOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /campaign-delete:
    post:
      operationId: campaign_delete
      summary: Delete campaign
      description: Delete a campaign and all associated resources.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for campaign_delete
        required: true
        content:
          application/json:
            example:
              tool: campaign_delete
              arguments:
                campaignId: example_id_123
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - campaign_delete
                arguments:
                  $ref: '#/components/schemas/DeleteCampaignInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CampaignDelete'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /campaign-get-summary:
    post:
      operationId: campaign_get_summary
      summary: Get campaign summary
      description: Get a high-level summary of a campaign including key metrics and status.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for campaign_get_summary
        required: true
        content:
          application/json:
            example:
              tool: campaign_get_summary
              arguments:
                campaignId: example_id_123
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - campaign_get_summary
                arguments:
                  $ref: '#/components/schemas/GetCampaignSummaryInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CampaignGetSummary'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /campaign-list-tactics:
    post:
      operationId: campaign_list_tactics
      summary: List campaign tactics
      description: List all tactics associated with a specific campaign.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for campaign_list_tactics
        required: true
        content:
          application/json:
            example:
              tool: campaign_list_tactics
              arguments:
                campaignId: example_id_123
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - campaign_list_tactics
                arguments:
                  $ref: '#/components/schemas/ListCampaignTacticsInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CampaignListTactics'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /campaign-validate-brief:
    post:
      operationId: campaign_validate_brief
      summary: Validate campaign brief
      description: Validate a campaign brief to ensure it contains all necessary information for campaign creation.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for campaign_validate_brief
        required: true
        content:
          application/json:
            example:
              tool: campaign_validate_brief
              arguments:
                brief: string
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - campaign_validate_brief
                arguments:
                  $ref: '#/components/schemas/ValidateBriefInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CampaignValidateBrief'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /asset-list:
    post:
      operationId: asset_list
      summary: List assets
      description: List all uploaded assets with optional filtering by brand agent.
      tags:
        - Assets
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for asset_list
        required: true
        content:
          application/json:
            example:
              tool: asset_list
              arguments: {}
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - asset_list
                arguments:
                  $ref: '#/components/schemas/ListAssetsInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/AssetList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /brand-standards-create:
    post:
      operationId: brand_standards_create
      summary: Create brand standards
      description: >-
        Create brand standards including guidelines, tone of voice, visual requirements, and content rules for a brand
        agent.
      tags:
        - Brand Standards
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for brand_standards_create
        required: true
        content:
          application/json:
            example:
              tool: brand_standards_create
              arguments:
                brandAgentId: 100
                prompt: string
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - brand_standards_create
                arguments:
                  $ref: '#/components/schemas/CreateBrandStandardInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/BrandStandardsCreateOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /brand-standards-delete:
    post:
      operationId: brand_standards_delete
      summary: Delete brand standards
      description: Delete brand standards for a brand agent.
      tags:
        - Brand Standards
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for brand_standards_delete
        required: true
        content:
          application/json:
            example:
              tool: brand_standards_delete
              arguments:
                brandStandardId: example_id_123
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - brand_standards_delete
                arguments:
                  $ref: '#/components/schemas/DeleteBrandStandardInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/BrandStandardsDelete'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /brand-standards-list:
    post:
      operationId: brand_standards_list
      summary: List brand standards
      description: List all brand standards with optional filtering by brand agent.
      tags:
        - Brand Standards
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for brand_standards_list
        required: true
        content:
          application/json:
            example:
              tool: brand_standards_list
              arguments: {}
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - brand_standards_list
                arguments:
                  $ref: '#/components/schemas/ListBrandStandardsInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/BrandStandardsList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /brand-story-create:
    post:
      operationId: brand_story_create
      summary: Create brand story
      description: Create a brand story containing the narrative, history, values, and key messaging for a brand agent.
      tags:
        - Brand Stories
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for brand_story_create
        required: true
        content:
          application/json:
            example:
              tool: brand_story_create
              arguments:
                brandAgentId: null
                name: Example Name
                languages: []
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - brand_story_create
                arguments:
                  $ref: '#/components/schemas/CreateBrandStoryInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/BrandStoryCreate'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /brand-story-update:
    post:
      operationId: brand_story_update
      summary: Update brand story
      description: Update an existing brand story with new information.
      tags:
        - Brand Stories
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for brand_story_update
        required: true
        content:
          application/json:
            example:
              tool: brand_story_update
              arguments:
                brandStoryId: example_id_123
                prompt: string
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - brand_story_update
                arguments:
                  $ref: '#/components/schemas/UpdateBrandStoryInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/BrandStoryUpdate'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /brand-story-delete:
    post:
      operationId: brand_story_delete
      summary: Delete brand story
      description: Delete a brand story.
      tags:
        - Brand Stories
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for brand_story_delete
        required: true
        content:
          application/json:
            example:
              tool: brand_story_delete
              arguments:
                brandStoryId: example_id_123
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - brand_story_delete
                arguments:
                  $ref: '#/components/schemas/DeleteBrandStoryInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/BrandStoryDelete'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /brand-story-list:
    post:
      operationId: brand_story_list
      summary: List brand stories
      description: List all brand stories with optional filtering by brand agent.
      tags:
        - Brand Stories
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for brand_story_list
        required: true
        content:
          application/json:
            example:
              tool: brand_story_list
              arguments: {}
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - brand_story_list
                arguments:
                  $ref: '#/components/schemas/ListBrandStoriesInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/BrandStoryList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /channel-list:
    post:
      operationId: channel_list
      summary: List channels
      description: List all available advertising channels and platforms.
      tags:
        - Channels
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for channel_list
        required: true
        content:
          application/json:
            example:
              tool: channel_list
              arguments: {}
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - channel_list
                arguments:
                  $ref: '#/components/schemas/ListChannelsInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/ChannelList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /country-list:
    post:
      operationId: country_list
      summary: List countries
      description: Get all available countries for targeting. Use this to get valid country codes before creating brand agents.
      tags:
        - Targeting
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for country_list
        required: true
        content:
          application/json:
            example:
              tool: country_list
              arguments: {}
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - country_list
                arguments:
                  $ref: '#/components/schemas/ListCountriesInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CountryList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /language-list:
    post:
      operationId: language_list
      summary: List languages
      description: Get all available languages for targeting. Use this to get valid language codes before creating brand stories.
      tags:
        - Targeting
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for language_list
        required: true
        content:
          application/json:
            example:
              tool: language_list
              arguments: {}
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - language_list
                arguments:
                  $ref: '#/components/schemas/ListLanguagesInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/LanguageList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /creative-assign:
    post:
      operationId: creative_assign
      summary: Assign creative
      description: Assign a creative to a tactic or media buy.
      tags:
        - Creatives
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for creative_assign
        required: true
        content:
          application/json:
            example:
              tool: creative_assign
              arguments:
                creative_id: example_id_123
                campaign_id: example_id_123
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - creative_assign
                arguments:
                  $ref: '#/components/schemas/AssignCreativeInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/AssignCreativeOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /creative-create:
    post:
      operationId: creative_create
      summary: Create creative
      description: Create a new creative with assets, copy, and targeting specifications.
      tags:
        - Creatives
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for creative_create
        required: true
        content:
          application/json:
            example:
              tool: creative_create
              arguments:
                creative_id: example_id_123
                name: Example Name
                format_id:
                  agent_url: https://example.com
                  id: example_id_123
                assets: null
                brand_agent_id: 100
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - creative_create
                arguments:
                  $ref: '#/components/schemas/CreativeCreateInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CreativeGetOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /creative-update:
    post:
      operationId: creative_update
      summary: Update creative
      description: Update an existing creative with new assets, copy, or specifications.
      tags:
        - Creatives
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for creative_update
        required: true
        content:
          application/json:
            example:
              tool: creative_update
              arguments:
                creative_id: example_id_123
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - creative_update
                arguments:
                  $ref: '#/components/schemas/CreativeUpdateInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CreativeGetOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /creative-delete:
    post:
      operationId: creative_delete
      summary: Delete creative
      description: Delete a creative and remove it from any associated tactics or media buys.
      tags:
        - Creatives
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for creative_delete
        required: true
        content:
          application/json:
            example:
              tool: creative_delete
              arguments:
                creative_id: example_id_123
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - creative_delete
                arguments:
                  $ref: '#/components/schemas/DeleteCreativeInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/DeleteCreativeOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /creative-get:
    post:
      operationId: creative_get
      summary: Get creative
      description: Get detailed information about a specific creative.
      tags:
        - Creatives
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for creative_get
        required: true
        content:
          application/json:
            example:
              tool: creative_get
              arguments:
                creative_id: example_id_123
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - creative_get
                arguments:
                  $ref: '#/components/schemas/GetCreativeInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/CreativeGetOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /creative-list:
    post:
      operationId: creative_list
      summary: List creatives
      description: List all creatives with optional filtering by brand agent or campaign.
      tags:
        - Creatives
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for creative_list
        required: true
        content:
          application/json:
            example:
              tool: creative_list
              arguments: {}
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - creative_list
                arguments:
                  $ref: '#/components/schemas/ListCreativesInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/ListCreativesOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /media-buy-get:
    post:
      operationId: media_buy_get
      summary: Get media buy
      description: Get detailed information about a specific media buy.
      tags:
        - Media Buys
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for media_buy_get
        required: true
        content:
          application/json:
            example:
              tool: media_buy_get
              arguments:
                media_buy_id: example_id_123
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - media_buy_get
                arguments:
                  $ref: '#/components/schemas/GetMediaBuyInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/MediaBuyGetOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /media-buy-list:
    post:
      operationId: media_buy_list
      summary: List media buys
      description: List all media buys with optional filtering by brand agent, campaign, or status.
      tags:
        - Media Buys
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for media_buy_list
        required: true
        content:
          application/json:
            example:
              tool: media_buy_list
              arguments: {}
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - media_buy_list
                arguments:
                  $ref: '#/components/schemas/ListMediaBuysInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/ListMediaBuysOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /media-product-list:
    post:
      operationId: media_product_list
      summary: List media products
      description: List saved media products with optional filtering.
      tags:
        - Media Products
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for media_product_list
        required: true
        content:
          application/json:
            example:
              tool: media_product_list
              arguments: {}
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - media_product_list
                arguments:
                  $ref: '#/components/schemas/ListProductsInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/MediaProductList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /agent-get:
    post:
      operationId: agent_get
      summary: Get agent
      description: >-
        Get detailed information about a specific agent (SALES or OUTCOME type). Type is automatically inferred from the
        agent ID.
      tags:
        - Agents
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for agent_get
        required: true
        content:
          application/json:
            example:
              tool: agent_get
              arguments:
                agentId: example_id_123
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - agent_get
                arguments:
                  $ref: '#/components/schemas/GetAgentInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/AgentGet'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /agent-list:
    post:
      operationId: agent_list
      summary: List agents
      description: >-
        List all registered agents with comprehensive filtering. Supports filtering by type (SALES/OUTCOME), status,
        organization, relationship (SELF/SCOPE3/MARKETPLACE), and name.
      tags:
        - Agents
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for agent_list
        required: true
        content:
          application/json:
            example:
              tool: agent_list
              arguments: {}
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - agent_list
                arguments:
                  $ref: '#/components/schemas/ListAgentsInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/AgentList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /tactic-get:
    post:
      operationId: tactic_get
      summary: Get tactic
      description: Get detailed information about a specific tactic.
      tags:
        - Tactics
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for tactic_get
        required: true
        content:
          application/json:
            example:
              tool: tactic_get
              arguments:
                tacticId: 100
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - tactic_get
                arguments:
                  $ref: '#/components/schemas/GetTacticInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/TacticGetOutput'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /tactic-list:
    post:
      operationId: tactic_list
      summary: List tactics
      description: List all tactics with optional filtering by brand agent or campaign.
      tags:
        - Tactics
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for tactic_list
        required: true
        content:
          application/json:
            example:
              tool: tactic_list
              arguments: {}
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - tactic_list
                arguments:
                  $ref: '#/components/schemas/ListTacticsInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/TacticList'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /outcomes-agent-get-proposals:
    post:
      operationId: outcomes_agent_get_proposals
      summary: Get proposals from outcome agents
      description: >-
        Request tactical proposals from outcome agents for a campaign. Outcome agents analyze the campaign brief and
        budget to propose execution strategies.
      tags:
        - Outcome Agents
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for outcomes_agent_get_proposals
        required: true
        content:
          application/json:
            example:
              tool: outcomes_agent_get_proposals
              arguments:
                campaignId: example_id_123
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - outcomes_agent_get_proposals
                arguments:
                  $ref: '#/components/schemas/OutcomesAgentGetProposalsInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/OutcomesAgentGetProposals'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /outcomes-agent-accept-proposal:
    post:
      operationId: outcomes_agent_accept_proposal
      summary: Accept outcome agent proposal
      description: Accept a proposal from an outcome agent, creating a tactic and assigning it to the agent for management.
      tags:
        - Outcome Agents
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for outcomes_agent_accept_proposal
        required: true
        content:
          application/json:
            example:
              tool: outcomes_agent_accept_proposal
              arguments:
                proposalId: example_id_123
            schema:
              type: object
              properties:
                tool:
                  type: string
                  enum:
                    - outcomes_agent_accept_proposal
                arguments:
                  $ref: '#/components/schemas/OutcomesAgentAcceptProposalInput'
              required:
                - tool
                - arguments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPContent'
                  structuredContent:
                    $ref: '#/components/schemas/OutcomesAgentAcceptProposal'
                required:
                  - content
                  - structuredContent
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /outcomes-agent-list-tactics:
    post:
      operationId: outcomes_agent_list_tactics
      summary: List tactics by outcome agent
      description: List all tactics managed by a specific outcome agent.
      tags:
        - Outcome Agents
      security:
        - bearerAuth: []
      parameters:
        - name: mcp-session-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: >-
            MCP session identifier (UUID). Initialize your session using the /mcp-initialize endpoint first to obtain a
            session ID, then reuse it for all subsequent tool requests in the same session.
      requestBody:
        description: Request body for outcomes_agent_list_tactics
        required: true
        content:
          application/json:
            example:
              tool: outcomes_agent_list_tactics
              arguments:
[...]
